// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
	font-size: 62.5%;
	height: 100%;
	font-family: @font-stack;
}

//Variables
@main-color: @mariner;

//Colors
@mariner: #2072C5;
@font-stack: Arial, "sans-serif";

.custom-layout(@j, @a) {
	display: flex;
	justify-content: @j;
	align-items: @a;
}

@mobile: (max-width: 500px);

.container {
	max-width: 1040px;
	margin: 0 auto;
	font-size: 1.6rem;
}

.nav-bar {
	.custom-layout(flex-end, flex-start);

	a {
	margin: 2rem;
	}
}

header {
	// .custom-layout(flex-start, center);
	border: 1px solid black;
	height: 27.5rem;
	margin: 2rem;
	// background: @main-color;

	h1 {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 5rem;
		font-size: 3rem;
	}

	.top-content p {
		display: flex;
		align-items: center;
		border-bottom: 1px dashed red;
		margin: 2rem;
		padding-bottom: 1.5rem;
	}

	.bottom-content p {
		margin: auto 2rem;
		padding-bottom: 1.5rem;
	}

	.button-container {
		.custom-layout(center, center);
		
	}

	button {
		border-radius: 0.5rem;
		width: 10rem;
		height: 3rem;
		cursor: pointer;
		background: @main-color;
	}
}

